.header-color {
  background: #833ab4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #000000, #1b1414, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #140e05, #140202, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.menu-link{
  font-size: 60px;
  text-decoration-color: #833ab4;
}
.logo{
  
  height:100pt;
  width:100pt;
 position: absolute;
 left: 3vw;
 top:12px;

}

/* Refine later*/



.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
